:root {
	--size-h1: 40px;
	--size-h2: 32px;
	--size-h3: 24px;
	--size-h4: 20px;
	--size-h5: 16px;
	--size-h6: 14px;
	--size-xs: 12px;
	
	@media screen and (max-width: 768px) {
		--size-h1: 24px;
	}
}

.text {
	margin: unset;
	padding: unset;
	color: #3B3A3B;
	font-size: var(--size-md);
	font-weight: 400;
	line-height: normal;
}

.h1 {
	font-size: var(--size-h1);
}

.h2 {
	font-size: var(--size-h2);
}

.h3 {
	font-size: var(--size-h3);
}

.h4 {
	font-size: var(--size-h4);
}

.h5 {
	font-size: var(--size-h5);
}

.h6 {
	font-size: var(--size-h6);
}

.xs {
	font-size: var(--size-xs);
}

.semibold {
	font-weight: 600
}

.bold {
	font-weight: 700
}

/* 'start' | 'center' | 'end' | 'justify' */

.subdued {
	color: rgba(59, 58, 59, 0.60)
}

.danger {
	color: #FF3B30;
}

.success {
	color: #34C759;
}

.primary {
	color: #0065FF
}