
.stack {
	display: flex;
}

.stack.row {
	flex-direction: row;
}

.stack.column {
	flex-direction: column;
}

.xs {
	gap: 15px;
}
.sm {
	gap: 45px;
}
.md {
	gap: 45px;
}
.lg {
	gap: 60px;
}

.start {
	align-items: flex-start;
}

.center {
	align-items: center;
}

.end {
	align-items: flex-end;
}